@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}

//npm.pkg.github.com/:_authToken=${GITHUB_AUTH_TOKEN}
@shawnphoffman:registry=https://npm.pkg.github.com