:root {
	/* Core */
	--bg: #010101;
	--outline: #161616;
	--outlineHover: #1b1b1b;
	--text: #fff;
	--inactive: #333;
	--transparent: #0000;
	--inputBg: #fff;
	--inputBorder: #000;
	--disabled: #ccc;
	/* Links */
	--link: #fff;
	--linkAlt: #a0a8d9;
	--linkHover: #4194c1;
	--linkActive: #556eff;
	/* Errors */
	--errorBg: #ffc6c4;
	--errorColor: #800000;
	/* Specials */
	--heart: #ff1493;
	--download: #ff540d;
	--private: #00b8d4;
	--public: #aeea00;
	--fallback: #ffd600;
	--green: #00c853;
	/* Days */
	--day1: #003f5c;
	--day2: #1c2f4e;
	--day3: #3b355f;
	--day4: #632f58;
	--day5: #6e2a3a;
	--day6: #653124;
	--day7: #664301;
	/* Rainbow */
	--color0: #ff540d;
	--color1: #ff8c00;
	--color2: #ffab00;
	--color3: #ffd600;
	--color4: #aeea00;
	--color5: #00c853;
	--color6: #00bfa5;
	--color7: #00b8d4;
	--color8: #0091ea;
	--color9: #304ffe;
	--color10: #6200ea;
	--color11: #aa00ff;
	--color12: #c51162;
	--color13: #d50000;
	--color14: #ff1493;

	color: var(--text);
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100vw;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	/* height: ${() => window.innerHeight}px; */
	align-items: center;
	padding: 0 8px 8px 8px;
	background: var(--bg);
}

@media print {
	body {
		background: none;
		color: black;
		padding: 0;
		height: auto;
		position: relative;
		display: block;
	}
}

#__next {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	/* border: 1px solid red; */
}

@media print {
	html,
	html body,
	#root {
		background: none !important;
		height: auto;
	}
}

input.supabase-auth-ui_ui-input {
	color: white !important;
}
