:root {
	/* Core */
	--bg: #010101;
	--outline: #161616;
	--outlineHover: #1B1B1B;
	--text: #FFF;
	--inactive: #333;
	--transparent: #0000;
	--inputBg: #FFF;
	--inputBorder: #000;
	--disabled: #CCC;
	/* Links */
	--link: #FFF;
	--linkAlt: #A0A8D9;
	--linkHover: #55F4FF;
	--linkActive: #556EFF;
	/* Errors */
	--errorBg: #FFC6C4;
	--errorColor: #800000;
	/* Specials */
	--heart: #FF1493;
	--download: #FF540D;
	--private: #00B8D4;
	--public: #AEEA00;
	--fallback: #FFD600;
	--green: #00C853;
	/* Days */
	--day1: #003f5c;
	--day2: #1c2f4e;
	--day3: #3b355f;
	--day4: #632f58;
	--day5: #6e2a3a;
	--day6: #653124;
	--day7: #664301;
	/* Rainbow */
	--color0: #FF540D;
	--color1: #FF8C00;
	--color2: #FFAB00;
	--color3: #FFD600;
	--color4: #AEEA00;
	--color5: #00C853;
	--color6: #00BFA5;
	--color7: #00B8D4;
	--color8: #0091EA;
	--color9: #304FFE;
	--color10: #6200EA;
	--color11: #AA00FF;
	--color12: #C51162;
	--color13: #D50000;
	--color14: #FF1493;

	color: var(--text);
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100vw;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	/* height: ${() => window.innerHeight}px; */
	align-items: center;
	padding: 0 8px 8px 8px;
	background: var(--bg);
}

@media print {
	body {
		background: none;
		color: black;
		padding: 0;
		height: auto;
		position: relative;
		display: block;
	}
}

#__next {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	/* border: 1px solid red; */
}

@media print {
	html,
	html body,
	#root {
		background: none !important;
		height: auto;
	}
}

input.supabase-auth-ui_ui-input {
	color: white !important;
}
