:root {
	--bg: #111;
	--outline: #1d1f26;
	--outlineHover: #18161e;
	--text: #fff;
	--link: #fff;
	--linkAlt: #a0a8d9;
	--linkHover: #00b8d4;
	--linkActive: #304ffe;
	--heart: #ff1493;
	--download: #ff540d;
	--inactive: #333;
	--transparent: #0000;
	--inputBg: #fff;
	--inputBorder: #000;
	--day1: #042940;
	--day2: #174001;
	--day3: #400a40;
	--day4: #40290a;
	--fallback: yellow;
	--green: #32de84;

	color: var(--text);
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100vw;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	/* height: ${() => window.innerHeight}px; */
	align-items: center;
	padding: 0 8px 8px 8px;
	background: var(--bg);
}

@media print {
	body {
		background: none;
		color: black;
		padding: 0;
		height: auto;
		position: relative;
		display: block;
	}
}

#__next {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	/* border: 1px solid red; */
}

@media print {
	html,
	html body,
	#root {
		background: none !important;
		height: auto;
	}
}
